<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Kanap</title>

  <meta charset="utf-8">
  <meta name="description" content="Plateforme incroyable de e-commerce">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
  <link href="/css/style.css" rel="stylesheet" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <%- include ('components/header') %>

    <main class="limitedWidthBlockContainer">
      <div class="limitedWidthBlock">
        <div class="titles">
          <h1>Nos canapés stars</h1>
          <h2>Une gamme d'articles exclusifs</h2>
        </div>
        <section class="items" id="items">
          <% products.forEach(product=> { %>
            <a href="/product/<%= product.id %>">
              <article>
                <h2>
                  <%= product.name %>
                </h2>
                <p>Prix : <%= product.price %> €</p>
                <img src="<%= product.imageUrl.startsWith('http') ? product.imageUrl : '/images/' + product.imageUrl %>"
                  alt="<%= product.altTxt %>">
                <p>
                  <%= product.description %>
                </p>
              </article>
            </a>
            <% }) %>
        </section>
      </div>
    </main>
    <%- include ('components/footer') %>
      <script src="../javascript/index.js"></script>
</body>

</html>